.background {
    width: 390px;
    height: 650px;
    background-color: #ebebeb;
    border-radius: 16px;
    border: 10px solid #2596be;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}